




<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow">

	<title>Asset Based Search</title>
	<meta name="description" content="Asset Based Search">
	<meta name="keywords" content="Asset Based Search">
	 <link rel="canonical" href="https://www.cersai.org.in/CERSAI/asstsrch.prg" />


<link
	href="themes/default/css/vue-search-dropdown.css?v=1_1"
	rel="stylesheet">
<link
	href="themes/base/css/bootstrap.min.css"
	
	rel="stylesheet">
<link
	href="themes/base/icons/fontawesome/css/fontawesome.css"
	
	rel="stylesheet">
<link
	href="themes/base/fonts/css/font.css"
	
	rel="stylesheet">
<link href="themes/default/css/default-theme.css"

	rel="stylesheet">
<link href="themes/default/css/rti.css"

	rel="stylesheet">
<link href="themes/default/css/tenders.css"

	rel="stylesheet">
<link href="themes/default/css/aboutus.css"

	rel="stylesheet">
<link href="themes/default/css/login.css"

	rel="stylesheet">
	
<link
	href="themes/base/css/tablesaw.css"
	
	rel="stylesheet">
<!-- <link
	href="themes/base/css/addons/datatables.css"
	rel="stylesheet"> -->
	
<link
	href="themes/default/css/custom-components.css"
	
	rel="stylesheet">	
<link
	href="themes/default/css/tables.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/security-interest.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/loader.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/error.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/footer.css"
	
	rel="stylesheet">
<link
	href="themes/default/css/preloginheader.css"
	
	rel="stylesheet">
<link  
    href="sc/js/third_party_js/vue/loader/css/loader.css" 
    rel="stylesheet">	
<link
	href="themes/default/css/vue-search-dropdown.css?v=1_1"
	rel="stylesheet">    
<style>
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 0px;
    background-image: url("/CERSAI/sc/themes/default/images/preloginImages/WhiteBG.svg");
    width: 100px;
    height: 50px;
    opacity: 0.8;

  }
  
  #myBtn:hover {
      background-image: url('/CERSAI/sc/themes/default/images/preloginImages/GrayBG.svg');
      opacity: 1;

    }
		/* html{
			height: 100%;
		}
		body{
			min-height: 100%;
			display:grid;
			grid-template-row:1fr auto;
		} */
body{
	overflow-y:auto;
}
.custom-scroll
{
	margin-top:0px;
	
}
sidelinks.row
{
	margin-right:0;
}
</style>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156441925-2');
</script>
	
</head>
<body style="overflow: scroll!important;width:fit-content;min-width:100%">
	<h1 style="display:none">CERSAI</h1>
   



<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script>

/* These are the config defined in deployConfiguration.properties file in configuration
 *
 * 
 *to use below funct constant call with getter function 
 * eg webConfig.get("chnlContextPath");
 * 
 * 
 */

 (function(){ 
	 
 var tcsStaticContent = {};

 function StaticContent(context){
		this.context = context;
	}

 
 
	StaticContent.prototype = {
			getStaticContent: function(){
				var private = {
				        'webContextPath': "https://cersai.org.in/CERSAI/",
				        'staticContentPath': "https://cersai.org.in/CERSAI/"
				    };

				    return {
				       get: function(name) { return private[name]; }
				   };
			}
	},

tcsStaticContent.staticContent = function(context) {
    return new StaticContent(context);
};

 window.tcsStaticContent = tcsStaticContent;
})();

</script>


<div>
	<form name="channelInfo" id="channelInfo">
		<input type="hidden" id="loginId" name="loginId"
			value="null" />
		<input type="hidden" id="authType" name="authType"
			value='null' />
		<input type="hidden" id="lastLoginTime" name="lastLoginTime" value="null"/>
		<input type="hidden" id="sessionTimeOut" name="sessionTimeOut" value="60">
		<input type="hidden" id="maxSessionTime" name="maxSessionTime" value="240">
		<input type="hidden" id="sessionAliveTimeOutPercent" name="sessionAliveTimeOutPercent" value="20">
		<input type="hidden" id="sessionCreationTime" name="sessionCreationTime" value="null"/>

		<input type="hidden" id="maxLogoutTime" name="maxLogoutTime" value="">
		<input type="hidden" id="lastInteractionTime" name="lastInteractionTime" value="">

	</form>
</div>

<!--  bootstarap 4 and its dependency module javascript files  starts-->

<script src="sc/js/third_party_js/webGLFingerprint/fingerprint.js"></script>
<script src="sc/js/third_party_js/webGLFingerprint/canvas.js"></script>
<script src="sc/js/third_party_js/webGLFingerprint/webgl.js"></script>
<script src="sc/js/third_party_js/webGLFingerprint/generateFingerprintMain.js"></script>

<script src="sc/js/third_party_js/jquery/jquery.min.js"></script>

<script async src="sc/js/third_party_js/bootstrap/bootstrap.min.js"></script>
<!--  bootstarap 4 and its dependency module javascript files  ends-->

<!-- framework dependency javascript files starts-->
<script src="sc/js/tcs_wf_js/base/tcs_eventcomm.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_basecomm.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_fragmentcomm.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_datacomm.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_pagecomm.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_servecomm.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_filecomm.js"></script>
<script src="sc/js/third_party_js/other/aes.js"></script>



<!--  framework dependency javascript files ends-->

<script src="sc/js/jsons/constants_en.json?v=1_10"></script>
<script src="sc/js/jsons/constants_hi.json?v=1_10"></script>
<script src="sc/js/jsons/constants_common.json"></script>
<script src="sc/js/jsons/hindiValidations.json"></script>
<script src="sc/js/jsons/englishValidations.json"></script>

<!-- vue js dependency javascript files starts-->
<script src="sc/js/third_party_js/vue/ansitohtml.min.js"></script>
<script src="sc/js/third_party_js/vue/vue.min.js"></script>
<script src="sc/js/third_party_js/vue/vuex.min.js"></script>	
<script src="sc/js/third_party_js/vue/vue-i18n.min.js"></script>
<script src="sc/js/third_party_js/vue/vue-search-dropdown.min.js?v=1_1"></script>
<script src="sc/js/third_party_js/vue/vee-validate.min.js"></script>
<script src="sc/js/third_party_js/vue/vee-validate-rules.js"></script>
<script src="sc/js/third_party_js/vue/vee-validate-i18n.js"></script>	
<script src="sc/js/third_party_js/vue/localization.js"></script>
<script src="sc/js/third_party_js/vue/vue-custom-validations.js?v=1_4"></script>
<script src="sc/js/third_party_js/vue/vue-click-outside.js"></script>
	
<script src="sc/js/third_party_js/vue/vue-i18n-app.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_vueCache.js"></script>
<script src="sc/js/tcs_wf_js/base/tcs_keepsessionalive.js"></script>

	<!-- Loader For Vue.Js 3.0 -->

<script src="sc/js/third_party_js/vue/loader/loaders/spinner.js"></script>
<script src="sc/js/third_party_js/vue/loader/loader.js"></script>
<script src="sc/js/third_party_js/vue/loader/js/api.js"></script>
<script src="sc/js/third_party_js/vue/loader/js/helpers.js"></script>
<script src="sc/js/third_party_js/vue/loader/js/trapFocusMixin.js"></script>
<script src="sc/js/third_party_js/vue/loader/js/Component.js"></script>

<script src="sc/js/enums/common-constants.js"></script>
<script async src="sc/js/enums/stateList.js?v=1_0"></script>
<script async src="sc/js/enums/countryList.js?v=1_0"></script>

<script async src="sc/js/enums/districtList.js"></script>
	
<script src="sc/js/third_party_js/vue/something-went-wrong.js"></script>

<script src="sc/js/third_party_js/vue/vue-custom-directives.js"></script>
<script src="sc/js/third_party_js/vue/vue-cersai-constants.js"></script>
<script src="sc/js/third_party_js/vue/vue-custom-plugins.js"></script>
<script src="sc/js/third_party_js/vue/vue-reusable-components.js?v=1_4"></script>

<script src="sc/js/third_party_js/vue/vue-multiselect.js"></script>	
<script src="sc/js/third_party_js/vue/cersai/address.js"></script>
<script src="sc/js/third_party_js/vue/cersai/address-new.js?v=1_3"></script>
<script src="sc/js/third_party_js/vue/cersai/address-immovable.js"></script>
<script src="sc/js/third_party_js/vue/cersai/address-immovable-new.js"></script>
<script src="sc/js/third_party_js/vue/cersai/asset-components.js"></script>
<script src="sc/js/third_party_js/vue/cersai/asset-display-components.js"></script>
<script src="sc/js/third_party_js/vue/cersai/asset-search-components.js"></script>
<script src="sc/js/third_party_js/vue/cersai/trxn-history-component.js"></script>
<script src="sc/js/third_party_js/vue/cersai/debtor-asset-si-id-based-search-component.js?v=1_1"></script>	
<script src="sc/js/third_party_js/vue/cersai/aor-search-component.js"></script>
<script src="sc/js/third_party_js/vue/cersai/ars-search-component.js"></script>
<script src="sc/js/third_party_js/vue/cersai/entity-search-component.js"></script>
	
<script src="sc/js/third_party_js/vue/cersai/ars-rectification-component.js"></script>
<script src="sc/js/third_party_js/vue/cersai/si-search-component.js?v=1_1"></script>

<script src="sc/js/third_party_js/vue/cersai/si-rectification-component.js"></script>
<script src="sc/js/third_party_js/vue/cersai/asset-id-based-search-component.js"></script>
<script src="sc/js/third_party_js/vue/cersai/trxn-search-component.js"></script>

<script src="sc/js/third_party_js/vue/cersai/address-new-with-blur.js"></script>
	
<script src="sc/js/third_party_js/vue/cersai/find-sof-si-id-component.js?v=1_1"></script>	

<script src="sc/js/third_party_js/vue/cersai/userAddress.js"></script>
<script src="sc/js/third_party_js/vue/cersai/payment-hosting-page.js"></script>	

<script src="sc/js/third_party_js/vue/vue-custom-component-list.js?v=1_3"></script>

<script src="sc/js/third_party_js/tablesaw/tablesaw.js"></script>

<script src="sc/js/third_party_js/vue/cersai/getUserRoleService.js"></script>	
<script src="sc/js/jsons/preLoginImages.json?v=1_2"></script>
	

   	<div id="mainheader" style="width:fit-content;min-width:100%">
    	



<div id="preloginheaderDiv" style="z-index: 2; position: relative;">
<div class="header navbar navbar-expand-md py-0">
				<a :title="$t('textGovtIndiaComp')" class="navbar-brand" href="#">
					<!-- <img src="themes/default/images/preloginImages/emblem-logo.png" alt="govt logo"> -->
					<span class="pl-2">{{$t('textGovtIndiaComp')}}</span>
				</a> 
				
				<form id="downloadAnyFiles">

					<custom_tb_text_input_download ref="downloads" field-name="downloads" v-show="false"
						is-read-only=true field-display-name="downloads"
						field-div-css="form-group" field-css="form-control"
						v-model="downloads" mandatory=true validate="generic">
					</custom_tb_text_input_download>

				</form>
				
				<div id="preloginPreHeader" class="lang-details ml-auto row">
			           <div><a :title="$t('textHelpdesk')" style="color: white;padding-right: 5px;" href="helpdesk.prg">{{$t('textHelpdesk')}}</a> | <a href="#" :title="$t('textWhatsNew')" style="color: yellow; padding-left: 5px;padding-right: 5px;" class="whatsNewInfo" onclick="window.location.href='/CERSAI/whatsnew.prg';"> {{$t('textWhatsNew')}}</a><a href="javascript:void(0);" :title="$t('textSkiptoMainContent')" style="color: white;padding-left: 5px;cursor: pointer;" v-show="isitHomePage" onclick="scrollToMainContent()">| {{$t('textSkiptoMainContent')}}</a></div>
			           	
			       	 <div class="dropdown">
				        <a title="Text Size" href="#" data-toggle="dropdown">
				            <img src="sc/themes/default/images/preloginImages/ico-accessibility.png" alt="textSizeLogo" class="img-responsive">
				            <span class="caret"></span>
				        </a>
				        <ul class="dropdown-menu" style="min-width: 2rem; z-index: 1021;" >
				            <li><a href="#" title="Enlarged Font" style="font-size: small;cursor: pointer;" id="decrease-font-size" onclick="decreaseFontSize()">A-</a></li>
				            <li><a href="#" title="Regular Font Size" style="font-size: small;cursor: pointer;" id="reset-font-size" onclick="resetFontSize()">A</a></li>
				            <li><a href="#" title="Diminished Font Size" style="font-size: small;cursor: pointer;" id="increase-font-size" onclick="increaseFontSize()">A+</a></li>
				        </ul>
				    </div>
			        <a id="sitemaplink" :title="$t('sitemap')" href="sitemap.prg"> 
			        	<img src="sc/themes/default/images/preloginImages/ico-sitemap.png" alt="siteMapLogo">
			        </a>
			        
					<span><a href="#" style="color:white" id="en" onclick="setLocaleEnglish(); return false;">English </a></span>| <span><a href="#" style="color:white" id="hi" onclick="setLocaleHindi(); return false;">Hindi</a></span>
			    </div>
            </div>

			<nav id="mainPreloginHeader" class="main-header navbar navbar-md sticky-top">
				<a class="navbar-brand " :href="preLoginImages.logo.CERSAILogo.href" :title="$t('cersaiLogo')">	
					<img :src="preLoginImages.logo.CERSAILogo.src" alt="CERSAI logo" class="float-left px-3 pb-2">
					<div class="cersai pl-3" style="font-family: lato;">
						<b>CERSAI</b>  
						<div class="cersai-full">
							<b>{{$t('cersaiTxt1')}}</b>
						</div>
						<div class="cersai-full">
							<b>{{$t('cersaiTxt2')}}</b>
						</div>
					</div>
				</a>
				
				<!-- <a class="navbar-brand " :href="preLoginImages.logo.AzadikaAmrtiMohtsav.href" target="_blank" :title="$t('azadiLogo')">	 -->
					<img :title="$t('azadiLogo')" :src="preLoginImages.logo.AzadikaAmrtiMohtsav.src" alt="Azadi Logo" class="float-left px-3" style="width: 180px;">
				<!-- </a> -->
				<!-- <a class="navbar-brand " :href="preLoginImages.logo.G20.href" target="_blank" :title="$t('G20Logo')">	 -->
					<img :title="$t('G20Logo')" :src="preLoginImages.logo.G20.src" alt="G20 logo" class="float-left px-3" style="width: 180px;">
				<!-- </a> -->
				<div 
				style="display: flex; justify-content: center;flex-direction: column;align-items: center;gap:0; margin: 0;">
				<label style="margin: 0;padding: 0;color: #636060;">Link to visit CKYCRR website</label>
						<b style="margin-top: -5px;"><a target="_blank" rel="noopener" href="https://www.ckycindia.in/" 
						style="color: #636060;margin-top: -5px;padding: 0;">www.ckycindia.in</a>
						</b>
				</div>
					<!-- <input style="padding-right: 35px;" type="text" name="search" id="search" placeholder="Search..." class="lg form-control" aria-required="true" aria-invalid="false">
					<button type="submit" style="border-style: unset; background-color: transparent;position: absolute;" onclick="alert('hi')" ><i class="fa fa-search" style="color:#047A45;"></i></button>
				</div> -->
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header2" aria-controls="header2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom"></span>
                </button> -->
				<div id="header2"  style="padding-left: 10rem;">
                    <div>
                            <a href="#" class="loginbtn btn px-4" data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false" 
                            style="width: fit-content;display: flow-root;margin-left: auto;margin-right: auto;" :title="$t('loginTitle')">{{$t('textLogin')}}</a>
                            <div id="ResetPasswordPopup" style="margin-left: auto;margin-right: auto;">
                            
                         	    <v_popup v-if="showResetPasswordInstructions" @close="closePopUp">
									<!-- <img src="themes/default/images/preloginImages/showResetPasswordInstructions.jpg"> -->
									<div style="margin-left: 2%;color:black !important">
												
										<div>
											
											<div style="font-size:24px" class="ml-auto mr-auto">{{$t('dos')}}</div>
											
											<div class="row">
											  	<ol style="text-align:left;">
												    <li style="color:black !important">{{$t('dostxt1')}}</li>
												    <li style="color:black !important">{{$t('dostxt2')}}</li>
												    <li style="color:black !important">{{$t('dostxt3')}}</li>
												    <li style="color:black !important">{{$t('dostxt4')}}</li>
											  	</ol>
											</div>
											
										</div>
										<br>
										<div>
											
											<div style="font-size:24px" class="ml-auto mr-auto">{{$t('donts')}}</div>
											
											<div class="row">
												<ol style="text-align:left;">
												    <li style="color:black !important">{{$t('dontstxt1')}}</li>
												    <li style="color:black !important">{{$t('dontstxt2')}}</li>
												</ol>
											</div>
										
										</div>
										<br>
										<div>
										
											<div style="font-size:24px" class="ml-auto mr-auto">{{$t('pwdResetInstr')}}</div>
											
											<div>
											
												<div style="text-align:left;font-size:20px">{{$t('pwdResetInstrtxt1')}}</div>
											
											</div>
											<div>
												<ul style="text-align:left;">
												    <li style="color:black !important">{{$t('pwdResetInstrtxt2')}}</li>
												</ul>    
												    <h6 style="text-align:left;font-size:20px">{{$t('pwdResetInstrtxt3')}}</h6>
												<ul style="text-align:left;">
												    <li style="color:black !important">{{$t('pwdResetInstrtxt4')}}</li>
												</ul>
											</div>
											
											<div>
											
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt5')}}</h6>
											
											</div>
											<div class="row">
												<ol style="text-align:left;">
												    <li style="color:black !important">{{$t('pwdResetInstrtxt6')}}</li>
												    
												    <li style="color:black !important">{{$t('pwdResetInstrtxt7')}}</li>
												</ol>
											</div>
											
											<br>
											
											<div>
											
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt8')}}</h6>
												<br>
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt9')}}</h6>
												<br>
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt10')}}</h6>
												<br>
												<h6 style="text-align:left;">{{$t('pwdResetInstrtxt11')}}</h6>
											</div>
										</div>
										
									</div>
								</v_popup>
                           
                           
                            </div>
							</li>
                        
                        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"  aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                 
										 <div class="modal-body">
											<div class="lg container-fluid" style="padding: 0%;">
												<div class="lg login">
													<div id="login" class="row no-gutters" style="text-align: center;">
														<div class="col-md-5 lg cersaiLogoPart">
															
															<b><a href="#" :title="$t('fistTimeLoginInstrText')" v-on:click="displayResetPasswordInstructions()" class="passwordInfo" data-dismiss="modal" aria-label="Close">{{$t('fistTimeLoginInstrText')}}</a></b><br>
												            <div class="lg cersaiLogo"><img src="sc/themes/default/images/lgcersailogo.png" :title="$t('cersaiLogo')" alt="CERSAI Logo" class="img-fluid"></div>
												            <div class="lg cersaifull"> {{$t('textCERSAIFullform')}}</div>
											            </div> 
											                   
														<div v-if="!showResetPasswordInstructions" class="col-md-7  lg login-form-1" >
															<div class="lg welcome">{{$t('welcomeToCERSAI')}}
															<button :title="$t('closeModal')" type="button" class="close" data-dismiss="modal" style="color:red" aria-label="Close">
										                                        <span aria-hidden="true">&times;</span>
										                    </button>
										                    </div>
															<form action="/CERSAI/home.prg" method="post" v-on:submit="hash" autocomplete="off">
															
																<input ref='passphrase_ref' type="hidden"
																			value="IAmOneTWoi123456thequickBrownFoxJumpsOverTheLazyDog">
																
																<login_custom_input ref='j_username' field-name="j_username" :field-display-name="$t('loginID')"
																	v-model="loginID">
																</login_custom_input>
																
																<tb_password_input ref="pwd1" field-name="pwd1" :field-display-name="$t('password')"
																			field-div-css="form-group" field-css="form-control" v-model="password">
																</tb_password_input>
																
																<input type="hidden" ref='pwd2_ref' name='j_password' />
																
																<div class="lg form-group">
																    <div class="lg label1">
																        <p>{{$t('captcha')}}:</p>
																    </div>
																    <div class="lg box1">
																       <img ref='captcha_ref' class="lg form-control" src="captcha.jpg" alt="Login Captcha">
																    </div>
																    <div class="lg recycle" v-on:click="changeCaptcha" tabindex="0"><img alt="reload" src="sc/themes/default/images/recycle.svg" :title="$t('reloadCaptcha')" style="margin-top:-45px"></div>
																    <div class="lg recycle" id="captchaSound" style="margin-top: -30px;margin-right: 0;"  v-on:click="playVoiceCaptcha"><a href="javascript:void(0);" :disabled="!isVoiceCaptchaIconEnabled" title="Voice Captcha" style="cursor: pointer;"><span><i class="fa fa-volume-up" aria-hidden="true"></i></span></a></div>
																</div>
																<login_captcha_input ref="jcaptcha" field-name="jcaptcha" :field-display-name="$t('captcha')"
																		v-model="captcha">
																</login_captcha_input>
																
																<input type="hidden" name="userType" id="userType" value="ADMIN">
																<input type="hidden" name="authFactor" id="authFactor" value="LOGINCREDENTIAL">
																<input type="hidden" name="digitalSignature" id="digitalSignature" value="DSFDSbfdgd4364365gvfdreggfdgFGDGFDg" />
																
																<div class="lg wrapper loginbutton">
																    <button  :title="$t('textLogin')" type="submit" class="lg btn" :disabled="isDisabled">{{$t('textLogin')}}</button><br />
																    <a class="lg ForgetPwd" href="frgtpassword.prg">{{$t('forgotPwd')}}</a>
																		
																
																</div>					
															</form>
														</div>
														
													</div>
												</div>
											</div>
										 </div>
                                      </div>
                                    </div>
                                  </div>
                        
                        
                    </div>
					
				</div>
			</nav>
			
			<div class="menuBar" id="preloginMenu">
				<div class="menuBar-dropdown">
    				<a class="dropbtn" onclick="showHomeContent()"><i onclick='location.href="./home.prg";' style="cursor: pointer;" class="fa fa-fw fa-home"></i> {{$t('textHomePage')}}
    					<i class="fa fa-caret-down"></i>
    				</a>
    				<div id="homeContent" class="menuDropdown-content">
      					<a :title="$t('abtUs')" href="aboutus.prg">{{$t('abtUs')}}</a>	
      					<a :title="$t('theBoard')" href="theBoard.prg">{{$t('theBoard')}}</a>
      					<a :title="$t('thecvo')" href="thecvo.prg">{{$t('thecvo')}}</a>
      					<a :title="$t('officerDetails')" href="employeeDetails.prg">{{$t('officerDetails')}}</a>		
	   					<a :title="$t('newsletter')" href="newsletter.prg">{{$t('newsletter')}}</a>      
	   					<a :title="$t('vigilance')" href="vigilance.prg">{{$t('vigilance')}}</a>   
	   					<a :title="$t('IEM')" href="iem.prg">{{$t('textIEM')}}</a>   
	   					<a :title="$t('escalationMatrix')" href="escalationMatrix.prg">{{$t('escalationMatrix')}}</a>           
    				</div>
    			</div>
    			
    			<div class="menuBar-dropdown">
  					<a class="dropbtn" onclick="showEntRegin()">{{$t('textEntityRegn')}}
    					<i class="fa fa-caret-down"></i>
    				</a>
    				<div id="entRegin" class="menuDropdown-content">
      					<a :title="$t('textEntityRegn')" href="entityregn.prg">{{$t('textEntityRegn')}}</a>                    
	       				<a :title="$t('textEntityRegn')" href="entityregnoc.prg">{{$t('textEntityRegn')}} - {{$t('otherCreditor')}}</a>
	   					<a :title="$t('textEntityRegnReport')" href="entityregnReport.prg">{{$t('textEntityRegnReport')}}</a>
    				</div>
  				</div>
  				
  				<div class="menuBar-dropdown">	
  					<a class="dropbtn" onclick="showPubSrch()">{{$t('publicSearch')}}
    					<i class="fa fa-caret-down"></i>
    				</a>
    				<div id="pubSrch" class="menuDropdown-content">
      					<a :title="$t('textAssetBasedSearchButton')" href="asstsrch.prg">{{$t('textAssetBasedSearchButton')}}</a>
				      	<a :title="$t('borrowerBasedSearchButton')" href="dbtrsrch.prg">{{$t('borrowerBasedSearchButton')}}</a>
				      	<a :title="$t('aorbasedSrch')" href="aorsrch.prg">{{$t('aorbasedSrch')}}</a>
				      	<a :title="$t('textSearchReport')" href="searchreport.prg">{{$t('textSearchReport')}}</a>
		  			</div>
  				</div>
  				
  				<!-- <a :title="$t('actsAndRules')" href="actsAndRules.prg">{{$t('actsAndRules')}}</a> -->
  				
  				<a :title="$t('feeStrt')" href="feestructure.prg">{{$t('feeStrt')}}</a>
  				
  				<a :title="$t('faqS')" href="faq.prg">{{$t('faqS')}}</a>
  				
  				<a :title="$t('downloads')" href="downloads.prg">{{$t('downloads')}}</a>  
  				
  				<a :title="$t('notifications')" href="notifications.prg">{{$t('menuNotifications')}}</a>
  		
  				<a :title="$t('contactUs')" href="contactus.prg">{{$t('contactUs')}}</a>
  				
  				<a :title="$t('media')" href="media.prg">{{$t('media')}}</a>
  				
  				<div class="menuBar-dropdown">	
  					<a :title="$t('extLinks')" class="dropbtn" onclick="showExtLink()">{{$t('extLinks')}}
    					<i class="fa fa-caret-down"></i>
    				</a>
    				<div id="extLink" class="menuDropdown-content">
    					<!-- onclick="alert('You will redirected on CKYC website. CERSAI is not responsible for any kind of statistical discrepancy !');" -->
      					<a :title="$t('textMCA')" href="https://www.mca.gov.in" target="_blank"  rel="noopener">{{$t('textMCA')}} <i class="fa fa-external-link"></i></a>
						<a :title="$t('textCKYCR')" href="https://www.ckycindia.in/ckyc/index.php" target="_blank"  rel="noopener">{{$t('textCKYCR')}} <i class="fa fa-external-link"></i></a>
						<a :title="$t('textVahanRegn')" href='https://vahan.parivahan.gov.in/nrservices/' target="_blank"  rel="noopener">{{$t('textVahanRegn')}} <i class="fa fa-external-link"></i></a>
						<a :title="$t('budsRegistry')" href='https://www.niyamitnivesh.in/' target="_blank"  rel="noopener">{{$t('budsRegistry')}} <i class="fa fa-external-link"></i></a>
		  			</div>
  				</div>
  				
  				<a href="javascript:void(0);" class="hamburgerIcon" onclick="showHamburger()">&#9776;</a>
  				
			</div>
</div>


<script>
sessionId= "NA"
window.onload = function() {
	
tcsServeComm.utils("#preloginheaderDiv").rest({ 
	url: 'cersaicontentmanagement_getWarDetailsAction',
	type: 'POST',
	data: {
	},
	targetdiv: "preloginheaderDiv",
	contentType: "application/json",
	successcallback: function (response) {

	console.log(JSON.parse(response).body);
	if(JSON.parse(JSON.parse(response).body)[1] == "true")
	{
	  document.getElementById('header2').style.display = "";
	  document.getElementById('preloginPreHeader').style.display = "";
	  document.getElementById('footerContainer').style.display = "";
	}
	else
	{
	    document.getElementById('header2').style.display = "none";
	    document.getElementById('preloginPreHeader').style.display = "none";
	    document.getElementById('footerContainer').style.display = "none";
	}
	}
	});

}

function downloadWhatsNew()
	{
	
	var downloadFileJson = {FileTypeId :'5', 
							fileId :'20', 
							fileName :'Salient_Features.pps'
							};
	
	tcsFileComm.downloadFile({

		formId : 'downloadAnyFiles', //	  formId of the form in which file is selected 
		actionId:"cersaicontentmanagement_getDownloadableFileAction", //	  actionId of the service //
		contentType : "application/json", //content type	  of data in which format data is present 
		serverCommMode : "sync",
		
		data: 
		{
			l_objJSONObject : downloadFileJson
									
		},
		successcallback : function(response) {
			
		}

	});
	}


  //Immediately Invoked Function Expression
  $(
    (function () {
      global = {
        init: function () {
          this.leftPanelSlide();
        },
        leftPanelSlide: function () {
          /* LeftPanel arrows Function */
          var hyt = $(window).height() - 60;
          $(".menuLeftSideUl").height(hyt);
          $(window).resize(function () {
            $(".menuLeftSideUl").height($(window).height() - 60);
          });

          $("#tabMenuIcn").on("click", function () {
            if ($("#lftSide").hasClass("exp") == true) {
              $("#lftSide").removeClass("exp");
              $("#lftSide").animate(
                {
                  left: -250,
                },
                400,
                function () {}
              );
            } else {
              $("#lftSide").addClass("exp");
              $("#lftSide").animate(
                {
                  left: 0,
                },
                400,
                function () {}
              );
            }
          });
        },
      };
    })()
  );
  $(document).ready(function () {
    //global.init();
  });
  
  window.onpaint = checkOrSetLocale();

  window.onpaint = setOrRemoveActiveClass();

  function setOrRemoveActiveClass()
  {
	  var header = document.getElementById("preloginMenu");
	  var btns = header.getElementsByClassName("nav-link1");
	  for (var i = 0; i < btns.length; i++) {
	    btns[i].className =  btns[i].className.replace(" active", "");
	    }
	  if(window.location.pathname == "/CERSAI/home.prg")
	  {
	  //document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[0].classList.add("active");
	  }  
	  else if(window.location.pathname == "/CERSAI/userManuals.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[1].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/entityregn.prg" || window.location.pathname == "/CERSAI/entityregnoc.prg" || window.location.pathname == "/CERSAI/entityregnReport.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[2].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/asstsrch.prg" || window.location.pathname == "/CERSAI/dbtrsrch.prg" || window.location.pathname == "/CERSAI/aorsrch.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[3].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/feestructure.prg" || window.location.pathname == "/CERSAI/downloads.prg" || window.location.pathname == "/CERSAI/policies.prg" || window.location.pathname == "/CERSAI/faq.prg" || window.location.pathname == "/CERSAI/sitemap.prg" || window.location.pathname == "/CERSAI/webmanager.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[4].classList.add("active");
	  }
	  else if(window.location.pathname == "/CERSAI/eodb.prg")
	  {
	  document.getElementById("preloginMenu").getElementsByClassName("nav-link1")[5].classList.add("active");
	  }
	  
	}
  
  function checkOrSetLocale()
  {
	  if(sessionStorage.getItem("lang")!=null)
	  {
		  if(sessionStorage.getItem("lang")=='hi')
		  {
			  document.getElementById("hi").style.color= "yellow";
			  document.getElementById("en").style.color= "white";
		  }
		  else if(sessionStorage.getItem("lang")=='en')
		  {
			  document.getElementById("en").style.color= "yellow";
			  document.getElementById("hi").style.color= "white";
		  }
	  }
	  else
	  {
		  sessionStorage.setItem("lang",'en');
		  document.getElementById("en").style.color= "yellow";
		  document.getElementById("hi").style.color= "white";
	  }
  }
  function setLocaleEnglish()
  {
	  sessionStorage.setItem("lang",'en');
	  try
	  {
		  checkOrSetLocale();
	  }
	  catch(e)
	  {
		  console.log(e)
	  }
	  tcs_globalEventHandlarObj.publishGlobalEvent("localechanged",'en');
  }
  function setLocaleHindi()
  {
	  sessionStorage.setItem("lang",'hi');
	  try
	  {
		  checkOrSetLocale();
	  }
	  catch(e)
	  {
		  console.log(e)
	  }
	  tcs_globalEventHandlarObj.publishGlobalEvent("localechanged",'hi');
  }
  
  function scrollToMainContent()
  {
	  document.getElementById("mainContentCards").scrollIntoView({ behavior: "smooth" });
  }

  function showHamburger() {
	  var x = document.getElementById("preloginMenu");
	  if (x.className === "menuBar") {
	    x.className += " responsive";
	  } else {
	    x.className = "menuBar";
	  }
	}

  function showHomeContent() {
	  document.getElementById("homeContent").classList.toggle("showContent");
	}
  function showEntRegin() {
	  document.getElementById("entRegin").classList.toggle("showContent");
	}
  function showPubSrch() {
	  document.getElementById("pubSrch").classList.toggle("showContent");
	}
  function showExtLink() {
	  document.getElementById("extLink").classList.toggle("showContent");
	}

  window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
	    var dropdowns = document.getElementsByClassName("menuDropdown-content");
	    var i;
	    for (i = 0; i < dropdowns.length; i++) {
	      var openDropdown = dropdowns[i];
	      if (openDropdown.classList.contains('showContent')) {
	        openDropdown.classList.remove('showContent');
	      }
	    }
	  }
	}

	
</script>
<script src="fragments/PreLoginManagement/HomeFragment/component/login.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>
   
   	<div id="mainbody" style="width:99vw;min-width:100%">
		<div id="asstsrch" style="width:100%">
<div class="maindiv"></div>
<div class="errordiv"></div>
</div>


<script>
tcsServeComm.fragment("#asstsrch").render({
	url:"assetBasedSearch.frg",
	type:"POST",
	data:{ },
	targetdiv:'asstsrch',
	contentType : "application/json",
	successcallback : function(response){
		if($("#asstsrch .maindiv").is(':empty')){
			 $("#asstsrch .maindiv").append(response);
		}
			  
	}
});
</script>
	</div>
	<div id="mainfooter" style="width:fit-content;min-width:100%; font-family:lato">
    	<style>
.fa {
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.social-media:hover {
	opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 3px 6px;
  border-radius: 20%;
}

.fa-linkedin {
  background: #0072b1;
  color: white;
  padding: 4px;
  border-radius: 20%;
}

.fa-youtube-play {
  background: #FF0000;
  color: white;
  padding: 3px 4px;
  border-radius: 20%;
}

.for-reach-us-at{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 480px) {
	 .for-reach-us-at{
	     display: flex;
	    justify-content: center;
	    align-items: start;
	    flex-direction: column;
	}
}


</style>

<footer class="footer" style="background-color: #385723;">
	<div id="myFooter">
		<div id="footerContainer" class="footer-container">
			<div class="footer-row">
				<div class="footer-cols">
					<div class="footer-col-heading">{{$t('textQuickLinks')}}</div>
					<!-- <p>
						<a :title="$t('archives')" style="color: white;"
							href="archives.prg">{{$t('archives')}}</a>
					</p> -->
					<p>
						<a :title="$t('abtUs')" style="color: white;" href="aboutus.prg">{{$t('abtUs')}}</a>
					</p>
					<!-- <p>
						<a :title="$t('contactUs')" style="color: white;"
							href="contactus.prg">{{$t('contactUs')}}</a>
					</p> -->
					<p>
						<a :title="$t('downloads')" style="color: white;"
							href="downloads.prg">{{$t('downloads')}}</a>
					</p>
					<p>
						<a :title="$t('policies')" style="color: white;" href="annualReports.prg">{{$t('policies')}}</a>   
	   				</p>
	   				<p>
						<a :title="$t('websitePolicies')" style="color: white;" href="websitepolicies.prg">{{$t('websitePolicies')}}</a>
					</p>	
					
				</div>
				<div class="footer-cols">
					<div class="footer-col-heading"></div>
					
					<p>
						<a :title="$t('textRTI')" style="color: white;" href="rti.prg">{{$t('textRTI')}}</a>
					</p>
					
					<p>
						<a :title="$t('circulars')" style="color: white;"
							href="circulars.prg">{{$t('circulars')}}</a>
					</p>
				
					<p>
						<a :title="$t('textWorkingHours')" style="color: white;"
							href="workinghours.prg">{{$t('textWorkingHours')}}</a>
					</p>
					
					<p>
						<a :title="$t('webmanager')" style="color: white;"
							href="webmanager.prg">{{$t('webmanager')}}</a>
					</p>
					<!-- <p>
						<a :title="$t('websitePolicies')" style="color: white;"
							href="websitepolicies.prg">{{$t('websitePolicies')}}</a>
					</p> -->
				</div>
				<div class="footer-cols">
					<div class="footer-col-heading"></div>
					<p>
						<a :title="$t('textHelp')" style="color: white;" href="help.prg">{{$t('textHelp')}}</a>
					</p>
					<p>
						<a :title="$t('tenders')" style="color: white;" href="tenders.prg">{{$t('tenders')}}</a>
					</p>
					<p>
						<a :title="$t('feedback')" style="color: white;"
							href="feedback.prg">{{$t('feedback')}}</a>
					</p>
					<p>
						<a :title="$t('tNc')" style="color: white;" href="tnc.prg">{{$t('tNc')}}</a>
					</p>
				</div>
				<div class="footer-cols">
					<div class="footer-col-heading" style="margin-bottom: .1rem;">{{$t('reachUs')}}</div>

					<div class='for-reach-us-at'>
						<div class="contact-container">
							<div></div>
							<div style="font-size: medium;
							text-decoration: line-through;text-decoration-line: underline;">SI Registry</div>
							<div>
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							{{getContactList}}
							<div>{{contcatLineOne}}</div>
							<div></div>
							<div>{{contcatLineTwo}}</div>
							<div></div>
							<div></div>
							<div>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</div>
							<div>helpdesk[at]cersai[dot]org[dot]in</div>
							<div></div>
							<div>
								<a title="Raise Incident" href="incidenttckt.prg"
									style="color: white;">Raise Incident</a>
							</div>
							<div></div>
							<div>
								<a title="Get Ticket Details" href="incidentstatusreq.prg"
									style="color: white;">Get Ticket Details</a>
							</div>
						</div>

						<div class="contact-container" style="padding-left: 1rem">
							<div></div>
							<div style="font-size: medium;
							    text-decoration: line-through;text-decoration-line: underline;">
							    CKYC Registry</div>
							<div>
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div>022-61102592</div>
							<div></div>
							<div>022-50623300</div>
							<div></div>
							<div></div>
							<div>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</div>
							<div>helpdesk[at]ckycindia[dot]in</div>
							<div>
								<i class="fa fa-globe" aria-hidden="true"></i>
							</div>
							<div>www[dot]ckycindia[dot]in</div>
							<div style="margin-bottom: 0.9rem;"></div>
							<div></div>
						</div>
					</div>
				</div>
				<div class="footer-cols" style="padding-bottom: 1.1rem;">
					<div style="margin-bottom: 0.5rem; margin-top: 1.2rem;" class="footer-col-heading">{{$t('followUsOn')}}</div>
					<p style="cursor: pointer;">
						<a :title="$t('twitter')" style="color: white;" :href="preLoginImages.socialMedia.twitter.href" target="_blank" rel="noopener"
						onclick="alert('You will redirected on Twitter website. CERSAI is not responsible for any kind of statistical discrepancy !');">
						<img class="social-media" :src="preLoginImages.socialMedia.twitter.src" :alt="$t('twitter')" style="width:18px; filter: invert(1); background-color:white; padding:2px; margin-left: 2px;">&ensp;{{$t('twitter')}}</a>
					</p>
					<p style="cursor: pointer;">
						<a :title="$t('facebook')" style="color: white;" :href="preLoginImages.socialMedia.facebook.href" target="_blank" rel="noopener"
						onclick="alert('You will redirected on Facebook website. CERSAI is not responsible for any kind of statistical discrepancy !');">
						<span class="fa fa-facebook"></span>&ensp;{{$t('facebook')}}</a>
					</p>
					<p style="cursor: pointer;">
						<a :title="$t('linkedin')" style="color: white;" :href="preLoginImages.socialMedia.linkedin.href" target="_blank" rel="noopener"
						onclick="alert('You will redirected on Linkedin website. CERSAI is not responsible for any kind of statistical discrepancy !');">
						<span class="fa fa-linkedin"></span>&ensp;{{$t('linkedin')}}</a>
					</p>
					<p style="cursor: pointer;">
						<a :title="$t('instagram')" style="color: white;" :href="preLoginImages.socialMedia.instagram.href" target="_blank" rel="noopener"
						onclick="alert('You will redirected on Instagram website. CERSAI is not responsible for any kind of statistical discrepancy !');">
						<img class="social-media" :src="preLoginImages.socialMedia.instagram.src" :alt="$t('instagram')" style="width:26px; margin-left: -2px;">&nbsp;{{$t('instagram')}}</a>
					</p>
					<p style="cursor: pointer;" >
						<a :title="$t('youtube')" style="color: white;" :href="preLoginImages.socialMedia.youtube.href" target="_blank" rel="noopener" 
						onclick="alert('You will redirected on Youtube website. CERSAI is not responsible for any kind of statistical discrepancy !');">
						<span class="fa fa-youtube-play"></span>&ensp;{{$t('youtube')}}</a>
					</p>
					
					<p style="cursor: pointer;" >
						<a :title="$t('public')" style="color: white;" :href="preLoginImages.socialMedia.public.href" target="_blank" rel="noopener"
						onclick="alert('You will redirected on Public website. CERSAI is not responsible for any kind of statistical discrepancy !');">
						<img class="social-media" :src="preLoginImages.socialMedia.public.src" :alt="$t('public')" style="width:26px; margin-left: -2px;">&nbsp;{{$t('public')}}</a>
					</p>
				</div>
			</div>
		</div>
		<hr class="hrule">
		<div class="bottom-footer">
			<div>
				<span style="margin-right: 2vw">{{$t('visitorCount')}}: {{totalVisitorCount}}</span> <br> 
				<span>{{$t('lastUpdatedDate')}}: {{swapDateFormat(lastUpdatedDate)}}</span>  <span>{{$t('txtVersion')}}: {{version}}</span> <br>
				<span style="margin-right: 1vw">{{$t('bestViewBrowser')}}</span>
			</div>
			<div class="copy-right">COPYRIGHT &copy; 2021 CERSAI ALL RIGHTS RESERVED</div>
		</div>
	</div>
</footer>
<div>
</div>

<!-- <link rel="stylesheet" href="http://localhost:8080/CERSAI/themes/default/css/font-awesome.min.css"> -->
<script>
var myFooterInstance=createApp({
	name:'myFooter',
		data:function()
		{
			return{

				currentVisitorCount:'',
				visitorCount:'',
				totalVisitorCount:'',
				lastUpdatedDate:'',
				version:'',
				 contcatLineOne: "",
				 contcatLineTwo: "",
				 preLoginImages:{}
				}
		
		},
		
		created:function()
		{ 
			message.en = JSON.parse(englishData).messages;
			message.hi = JSON.parse(hindiData).messages;
			
			if(sessionStorage.getItem("lang")!= null)
			{
				 setLocale(sessionStorage.getItem("lang"));
			     i18n.global.locale=sessionStorage.getItem("lang");

	    	}
			else
			{
				sessionStorage.setItem("lang",'en');
				 setLocale('en');
			     i18n.global.locale='en';
			}
			this.preLoginImages=JSON.parse(preLoginImages);
		},
		mounted:function()
		{
		    this.getGlobalParamDetails();
			this.preLoginImages=JSON.parse(preLoginImages);
			tcs_globalEventHandlarObj.subscribeEvent("localechanged",this.localeUpdated);
		},
		
		  computed: {
		       getContactList:function() {
		    	   var date = new Date();
		            const startWeekDayIndex = 1; 
		            const firstDate = new Date(date.getFullYear(), date.getMonth(), 1);
		            const firstDay = firstDate.getDay();
		          
		            let weekNumber = Math.ceil((date.getDate() + firstDay) / 7);
		            if (startWeekDayIndex === 1) {
		              if (date.getDay() === 0 && date.getDate() > 1) {
		                weekNumber -= 1;
		              }
		          
		              if (firstDate.getDate() === 1 && firstDay === 0 && date.getDate() > 1) {
		                weekNumber += 1;
		              }
		              
		            }       

		            switch (weekNumber) {
		                case 1:
		                    this.contcatLineOne = "011-24664629, 011-24664628"
		                    this.contcatLineTwo = "011-24664630"
		                    break;
		                case 2:
                            this.contcatLineOne = "011-24664628, 011-24664630"
		                    this.contcatLineTwo = "011-24664629"
		                    break;
		                case 3:
		                	this.contcatLineOne = "011-24664630, 011-24664629"
		                	this.contcatLineTwo = "011-24664628"
		                    break;
		                case 4:
		                    this.contcatLineOne = "011-24664629, 011-24664628"
		                    this.contcatLineTwo = "011-24664630"

		                    break;
		                case 5:
		                    this.contcatLineOne = "011-24664628, 011-24664630"
		                    this.contcatLineTwo = "011-24664629"
		                    break;
		                default:
		                	 this.contcatLineOne = "011-24664629, 011-24664628"
				             this.contcatLineTwo = "011-24664630"
				             break;

		            }
		        }
		    },
		methods:
		{
			localeUpdated:function(lang)
			{
				this.$i18n.locale  = lang;
			},
			swapDateFormat:function(date)
			{
				return CersaiPlugin.swapDateFormat(date);
			},
			getGlobalParamDetails:function()
			{
				tcsServeComm.utils(document).rest({
				      url: 'cersaiBase_getCERSAIGlobalParamsAction',
				      type: 'POST',
				      data: {
				      },
				      targetdiv: 'myFooter',
				      contentType: "application/json",
				      successcallback: function(response)
				      {
				    	 if(JSON.parse(response).header.status == "success")
				    	 {
				    		 var obj = JSON.parse((JSON.parse(response).body));
				    		 console.log(obj);
				    		 
				    		 myFooterInstance.version= obj[0][1];
				    		 
				    		 localStorage.setItem("version",  myFooterInstance.version);
				    		 
				    		 myFooterInstance.lastUpdatedDate = obj[1][1]

				    		 myFooterInstance.visitorCount = obj[2][1];

				    		 myFooterInstance.currentVisitorCount = obj[3][1];

				    		 myFooterInstance.totalVisitorCount = parseInt(myFooterInstance.visitorCount) + parseInt(myFooterInstance.currentVisitorCount);
				    		 
					    }
				      }
				});
			},
		}
}).use(CersaiPlugin).use(i18n).mount('#myFooter');
</script>
    </div>
	




	<button onclick="topFunction()" id="myBtn" title="Go to top"></button>
	<script  src="fragments/PreLoginManagement/HomeFragment/component/top.js?v=1_1"></script>
</body>
</html>